@import "fonts.css";
@import "modern-normalize.min.css";

h1,
h2,
h3,
h4,
h5,
figure,
p,
ol,
ul {
    margin: 0;
}

ol[role="list"],
ul[role="list"] {
    list-style: none;
    padding-inline: 0;
}

h1,
h2,
h3,
h4,
h5 {
    font-size: inherit;
    font-weight: inherit;
}

img {
    display: block;
    max-inline-size: 100%;
}

:root {
    --light-color: #F5F5F7;
    --dark-color: #221F20;
    --container-padding-inline: 13%;
    --footer-padding-inline: 10%;

    @media screen and (max-width: 768px) {
        --container-padding-inline: 6%;
        --footer-padding-inline: 6%;
    }

    @media screen and (max-width: 576px) {
        --container-padding-inline: 15px;
        --footer-padding-inline: 15px;
    }
}

html {
    font-family: "Inter", sans-serif;
    scroll-behavior: smooth;
}

.container {
    padding: 0 var(--container-padding-inline);
}

.title {
    color: var(--dark-color, rgba(34, 31, 32, 1));
    font-size: 40px;
    font-weight: 400;
    line-height: 48px;
    text-align: center;

    span {
        position: relative;
    }

    span::after {
        content: "";
        display: block;
        position: absolute;
        bottom: -1px;
        right: 0px;
        width: 75px;
        height: 2px;
        background-color: #000;
    }

    @media screen and (max-width: 768px) {
        font-size: 36px;
        line-height: 44px;
    }

    @media screen and (max-width: 576px) {
        font-size: 24px;
        line-height: 29px;
    }
}

*::selection {
    background: rgb(129, 129, 129);
    color: black;
}

.promo {
    min-height: 100vh;
    background: url('../img/Bg.jpg') center center / cover no-repeat;
    padding-top: 75px;
    position: relative;

    @media screen and (max-width: 768px) {
        & {
            background-image: url('../img/bgmobile.jpg');
        }
    }

    @media screen and (max-width: 576px) {
        & {
            padding-top: 50px;
            min-height: 500px;
        }
    }

    @media screen and (max-width: 375px) {
        & {
            background-image: url('../img/Bgmobile2.jpg');
        }
    }
}

.promo__title {
    color: var(--light-color, rgba(245, 245, 247, 1));
    font-size: 60px;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;

    @media screen and (max-width: 768px) {
        & {
            font-size: 48px;
        }

    }

    @media screen and (max-width: 576px) {
        & {
            font-size: 26px;
        }
    }
}

.promo__subtitle {
    color: var(--light-color, rgba(245, 245, 247, 1));
    font-size: 32px;
    font-weight: 100;
    line-height: normal;
    margin-top: 124px;

    @media screen and (max-width: 768px) {
        & {
            margin-top: 80px;
        }
    }

    @media screen and (max-width: 576px) {
        & {
            font-size: 16px;
            margin-top: 30px;
        }
    }
}

.btn {
    padding: 4px 10px;
    margin-top: 20px;
    width: 160px;
    min-height: 38px;
    border: 1px solid var(--light-color, rgba(245, 245, 247, 1));
    background: rgba(217, 217, 217, 0);
    color: var(--light-color, rgba(245, 245, 247, 1));
    font-size: 16px;
    font-weight: 100;
    line-height: 19px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    transition: all 0.3s ease-out;

    @media screen and (max-width: 576px) {
        & {
            font-size: 14px;
            width: 120px;
            min-height: 30px;
        }
    }
}

.btn:hover {
    box-shadow: 5px 5px 10px 0px rgba(255, 255, 255, 0.62);
    font-weight: 500;
}

.promo__address {
    margin-top: 100px;
    color: var(--light-color, rgba(245, 245, 247, 1));
    font-size: 16px;
    font-weight: 100;
    line-height: 19px;
    position: relative;

    address {
        font-style: normal;
    }

    a {
        color: inherit;
        text-decoration: none;
    }

    &::before {
        position: absolute;
        left: -45px;
        top: -17px;
        content: "";
        display: block;
        width: 49px;
        height: 49px;
        background: url('../icons/Arrow.svg') center center / cover no-repeat;
    }

    @media screen and (max-width: 768px) {
        &::before {
            left: -40px;
        }

        & {
            margin-top: 80px;
        }
    }

    @media screen and (max-width: 750px) {
        &::before {
            display: none;
        }
    }

    @media screen and (max-width: 576px) {
        & {
            margin-top: 233px;
        }
    }
}

.keywords {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    bottom: 0;
    padding: 0 360px;
    width: 100%;
    height: 20px;
    background: linear-gradient(180.00deg, rgba(255, 255, 255, 0.04), rgba(255, 255, 255, 0.12) 50%, rgba(255, 255, 255, 0.2) 100%);

    li {
        list-style-type: none;
        color: var(--light-color, rgba(245, 245, 247, 1));
        font-size: 10px;
        font-weight: 100;
        line-height: 12px;
    }

    @media screen and (max-width: 1440px) {
        & {
            padding: 0 20px;
        }
    }

    @media screen and (max-width: 768px) {
        /* & li {
            display: none;
        }

        & li:nth-child(-n+9) {
            display: list-item;
        } */

        & li:nth-last-child(-n+6) {
            display: none;
        }
    }

    @media screen and (max-width: 576px) {
        & li {
            display: none;
        }

        & li:nth-child(-n+4) {
            display: list-item;
        }

        /* & li:nth-last-child(-n+11) {
            display: none;
        } */
    }
}

.about {
    padding-top: 80px;
    background-color: var(--light-color, rgba(245, 245, 247, 1));

    @media screen and (max-width: 576px) {
        padding-top: 50px;
    }
}

.about__title {
    color: var(--dark-color, rgba(34, 31, 32, 1));
    font-style: italic;
    font-size: 12px;
    font-weight: 400;
    line-height: 15px;
}

.about__text {
    margin-top: 20px;
    color: var(--dark-color, rgba(34, 31, 32, 1));
    font-size: 40px;
    font-weight: 400;
    line-height: 48px;
    width: 1100px;

    span {
        color: rgba(165, 165, 165, 1);
    }

    @media screen and (max-width: 1440px) {
        width: 100%;
    }

    @media screen and (max-width: 768px) {
        font-size: 24px;
        line-height: 29px;
    }

    @media screen and (max-width: 576px) {
        font-size: 16px;
        line-height: 19px;
    }
}

.sevices {
    margin-top: 80px;
    display: flex;
    column-gap: 10px;

    @media screen and (max-width: 768px) {
        margin-top: 40px;
        flex-wrap: wrap;
        row-gap: 40px;
    }

    @media screen and (max-width: 576px) {
        row-gap: 20px;
        margin-top: 20px;
    }
}

.services__item-subtitle {
    color: var(--dark-color, rgba(34, 31, 32, 1));
    font-style: italic;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;

    @media screen and (max-width: 576px) {
        font-size: 12px;
        line-height: 15px;
    }
}

.services__items {
    width: 50%;

    ul {
        margin-top: 20px;
        padding: 0;

        li {
            color: var(--dark-color, rgba(34, 31, 32, 1));
            font-size: 16px;
            font-weight: 400;
            line-height: 19px;
            list-style-type: none;
            margin-top: 10px;
            position: relative;

            &:first-child::before {
                content: "";
                background: url(../icons/camera.svg) center center / cover no-repeat;
                display: block;
                position: absolute;
                left: -30px;
                top: 2px;
                width: 15px;
                height: 15px;

            }

            &:nth-child(3)::before {
                content: "";
                background: url(../icons/edit.svg) center center / cover no-repeat;
                display: block;
                position: absolute;
                left: -30px;
                top: 2px;
                width: 15px;
                height: 15px;

            }
        }
    }

    @media screen and (max-width: 768px) {
        & {
            width: 100%;
        }

        & ul li:first-child::before {
            left: -25px;
        }

        & ul li:nth-child(3)::before {
            left: -25px;
        }
    }

    @media screen and (max-width: 576px) {
        & ul li {
            font-size: 14px;
            line-height: 17px;
            margin-top: 5px;
        }

        & ul li:first-child::before {
            display: none;
        }

        & ul li:nth-child(3)::before {
            display: none;
        }
    }
}

.services__text {
    width: 50%;
    color: var(--dark-color, rgba(34, 31, 32, 1));
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 2%;

    @media screen and (max-width: 768px) {
        width: 100%;
    }

    @media screen and (max-width: 576px) {
        font-size: 12px;
        letter-spacing: 0.24px;
    }
}

.works {
    padding-top: 80px;
    background-color: var(--light-color, rgba(245, 245, 247, 1));

    @media screen and (max-width: 768px) {
        padding-top: 50px;
    }
}

.works__grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr) 1.5fr;
    column-gap: 30px;
    row-gap: 50px;
    margin-top: 50px;

    img {
        width: 100%;
        box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.25);
    }

    @media screen and (max-width: 768px) {
        row-gap: 30px;
        column-gap: 20px;
        margin-top: 40px;
    }

    @media screen and (max-width: 576px) {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, 1fr) 1.5fr;
        column-gap: 0px;
        row-gap: 30px;
    }
}

.inspiration {
    padding-top: 80px;
    background-color: var(--light-color, rgba(245, 245, 247, 1));

    @media screen and (max-width: 768px) {
        padding-top: 50px;
    }
}

.inspiration__grid {
    display: grid;
    margin-top: 50px;
    gap: 30px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);

    img {
        width: 100%;
        box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.25);
    }

    @media screen and (max-width: 1200px) {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(4, 1fr);
        gap: 30px 20px;
    }

    @media screen and (max-width: 768px) {
        margin-top: 40px;
    }

    @media screen and (max-width: 576px) {
        grid-template-columns: 1fr;
        gap: 20px 0px;
        grid-template-rows: repeat(3, 1fr) 2.1fr 1fr 0.5fr;
    }
}

.tenement {
    grid-column: 4/5;
    grid-row: 1/3;
    height: 100%;

    @media screen and (max-width: 1200px) {
        grid-row: 2/4;
        grid-column: 2/3;
    }

    @media screen and (max-width: 576px) {
        grid-row: auto;
        grid-column: auto;
    }
}

.sky {
    grid-column: 2/4;

    @media screen and (max-width: 1200px) {
        grid-column: 1/3;
    }

    @media screen and (max-width: 576px) {
        grid-column: auto;
    }
}

.customers {
    padding-top: 80px;
    padding-bottom: 100px;
    background-color: var(--light-color, rgba(245, 245, 247, 1));

    @media screen and (max-width: 1024px) {
        padding: 50px 0;
    }
}

.customers__flexbox {
    display: flex;
    gap: 30px;
    margin-top: 50px;
    flex-wrap: wrap;

    img {
        box-shadow: 7px 7px 12px 0px rgba(0, 0, 0, 0.25);
        width: calc((100% - 90px) / 4);

        @media screen and (max-width: 1024px) {
            width: calc((100% - 60px) / 4);
        }

        @media screen and (max-width: 576px) {
            width: 45%;
        }
    }

    @media screen and (max-width: 1024px) {
        gap: 20px;
        margin-top: 40px;
    }

    @media screen and (max-width: 576px) {
        justify-content: space-between;
        margin-top: 30px;
    }
}

.footer {
    display: flex;
    align-items: center;
    background-color: rgba(0, 0, 0, 1);
    justify-content: space-between;
    padding: 88px var(--footer-padding-inline);
    color: var(--light-color);
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;

    @media screen and (max-width: 1200px) {
        padding: 30px 0 40px 45px;
        flex-direction: column;
        align-items: flex-start;
        gap: 30px;
    }

    @media screen and (max-width: 768px) {
        font-size: 16px;
        line-height: 19px;
    }

    @media screen and (max-width: 576px) {
        padding: 30px 33px 40px 33px;
        align-items: center;
    }
}

.footer__adress {
    font-style: normal;

    @media screen and (max-width: 576px) {
        order: 1;
    }
}

.footer__tel {
    color: var(--light-color);
    text-decoration: none;
}

.sotial__icon {
    padding-left: 0px;
    display: flex;
    list-style: none;
    column-gap: 30px;

    li {
        width: 32px;
        height: 32px;
        border: 1px solid var(--light-color);
        background: rgba(217, 217, 217, 0);
    }

    a {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        color: var(--light-color);
        font-size: 23px;
        text-decoration: none;

        img {
            width: 23px;
            height: 23px;
        }
    }
}